<%- include('header', {logout : true})%>
<h2 class="to-center">Hola... It's us!</h2>
<h3 class="to-center">Forward 3 from <a href="https://www.iitbbs.ac.in/">IIT Bhubaneswar</a> :P</h3>
<div class="ext-box about-box">
    <div class="about-box-sub">
        <table style="width: 100%;">
            <tr>
                <td><b>Name</b></td>
                <td>Sourabha Bharadwaj BM</td>
            </tr>
            <tr>
                <td><b>Roll No</b></td>
                <td>17CS01001</td>
            </tr>
            <tr>
                <td><b>Profile</b></td>
                <td><a href="https://www.linkedin.com/in/sourabha-bharadwaj-b-m-561716161/">LinkedIn</a></td>
            </tr>
        </table>
    </div>
    <div class="about-box-sub">
        <table style="width: 100%;">
            <tr>
                <td><b>Name</b></td>
                <td>Jammula Sandeep</td>
            </tr>
            <tr>
                <td><b>Roll No</b></td>
                <td>17CS01002</td>
            </tr>
            <tr>
                <td><b>Profile</b></td>
                <td><a href="https://www.linkedin.com/in/sandeep-jammula-78368a158/">LinkedIn</a></td>
            </tr>
        </table>
    </div>
    <div class="about-box-sub">
        <table style="width: 100%;">
            <tr>
                <td><b>Name</b></td>
                <td>Aneri Manoj Gandhi</td>
            </tr>
            <tr>
                <td><b>Roll No</b></td>
                <td>17CS01003</td>
            </tr>
            <tr>
                <td><b>Profile</b></td>
                <td><a href="https://www.linkedin.com/in/aneri-gandhi-75816374/">LinkedIn</a></td>
            </tr>
        </table>
    </div>
</div>
<%- include('footer')%>