<%- include('header', {logout : false})%>
    <div class="ext-box for-root">
        <p><a href="/login">Login</a></p>
        <p><a href="/register">Register</a></p>
    </div>
<%- include('footer')%>