<%- include('header', {logout : false})%>
    <div class="ext-box for-root">
        <h1>Sorry, some server error...</h1>
        <p>Please proceed to <a href="/">home</a>...</p>
    </div>
<%- include('footer')%>